@model IEnumerable<HelloMvc.Models.VM.HolidayVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>Date </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @item.CurrentYearDate.ToShortDateString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HolidayCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HolidayCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HolidayCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
