@model List<Vacation>

@if (Model.Any()) {
    <ul class="list-group ">
        <li class="active list-group-item">
            <div class="d-flex justify-content-between">
                Upcoming Vacation
                <a asp-action="Index" asp-controller="Vacations"
               asp-route-employeeId="@Model.First().EmployeeId" class="text-white"> view</a>
            </div>

        </li>

        @foreach (var vacation in Model) {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 ">
                    <div> @vacation.FromDate.ToString("MMM dd") - @vacation.ToDate.ToString("MMM dd") </div>
                    <small class="text-muted">@vacation.Comment</small>
                </div>
                <div class="text-end">
                    <div class="badge bg-primary rounded-pill">
                        in
                        @(vacation.FromDate.DayOfYear - DateTime.Today.DayOfYear) days
                    </div>
                    <div class="mt-1"> 
                        <a asp-action="Edit" asp-route-id="@vacation.VacationId" class="btn btn-sm btn-outline-success ">Edit</a>
                        <a asp-action="Delete" asp-route-id="@vacation.VacationId" class="btn btn-sm  btn-outline-danger">Delete</a>
                    </div>
                </div>
            </li>
        }

    </ul>
}
